## (pynvim)
# conda env create -f environment.yml
# conda install -n base -c conda-forge nb_conda_kernels (base)
# conda install -n base -c conda-forge jupyterlab_widgets (base)
# conda install -n env_name -c conda-forge ipykernel (current)
# conda install -n env_name -c conda-forge ipywidgets (current)

## (venv)
# python3 -m venv ~/.env_name
# source ~/.env_name/bin/activate
# python3 -m pip install --upgrade pip
# python3 -m pip --no-cache-dir --timeout=1000 install -r ~/requirements.txt
